.box{display: flex;    flex-wrap: wrap;}

.box1{
    width: 100%;
    background-color: lightgreen;
    height: 500px;
}

.box2{
    width: 100%;
    background-color: red;
    height: 500px;
}

.box3{
    width: 100%;
    background-color: blue;
    height: 500px;
}

@media screen and (min-width: 576px){
    .box1{
        width: 40%;
    }
    .box2{
        width: 60%;
    }
}

@media screen and (min-width: 1024px){
    .box1, .box2, .box3{
        width: 33.3%;
    }

}